site:
  title: agrirouter Docs
  url: https://docs.my-agrirouter.com
  start_page: agrirouter-interface-documentation::introduction.adoc
content:
  sources:
    - url: .
      branches: HEAD
ui:
  bundle:
    url: https://files.my-agrirouter.com/ui-bundle-release.zip
    snapshot: true
  #supplemental_files: ./supplemental-ui
antora:
  extensions:
    - require: "@antora/lunr-extension"
      snippet_length: 250

asciidoc:
  attributes:
    idprefix: ""
    idseparator: "-"
    kroki-fetch-diagram: true
    kroki-plantuml-include: style.puml
    page-pagination: true
  extensions:
    - asciidoctor-kroki
