name: CI/CD

on: push

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node
        id: node
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: yarn add

      - name: Validate xrefs
        run: |
          yarn validate-xrefs

      - name: Run antora
        run: |
          yarn build

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}

      - name: determine target path
        run: |
          [[ "$GITHUB_REF" = "refs/heads/main" ]] && (echo "target_path=" >> $GITHUB_ENV) || (echo "target_path=_branches/${GITHUB_REF#refs/heads/}/" >> $GITHUB_ENV); grep target_path $GITHUB_ENV

      # very unelegant, but hoster does not support SSH key authentication :-/
      - name: Rsync to Webspace
        run: sshpass -p ${{secrets.SSH_PASSWORD}} rsync -av --exclude _branches --delete build/site/ ${{secrets.SSH_USERNAME}}@${{secrets.SSH_HOSTNAME}}:/var/www/web25462234/html/docs.my-agrirouter.com/${{ env.target_path }}
